/* If you look very closely, you'll see a white band around the web page. This is a default margin/padding added by the web browser to the entire page. It's a good idea to overwrite it because different browsers have different defaults. The * selector matches every HTML element effectively resetting the margin and padding for our web page. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 20px;
}

h1, p {
    background-color: #DDE0E3;
    padding: 50px; /* Adds 50 pixels to each of the padding */
   
    /* Line drawn around the content and padding. Does not have a background color. So we the size of how big we want it to be, followed by its style, then its color.*/

    /* border: 1px solid #5D6063; */

    /* like padding, we can set it for only certain parts */
    border-bottom: 1px solid #5D6063;
}

p {
    /* when you want to change the padding non-uniformly */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    /* padding: 20px 10px; sets vertical and horizontal */
    /* padding: 20px 0 20px 10px; sets top, right, bottom, left */

    /* margins define the space between a box and its surrounding boxes */

    /* Each p tag WILL NOT have 75 pixels between them but only 50. The top margin collapses. */
    margin-top: 25px;
    margin-bottom: 50px;
}

em, strong {
    background-color: #B2D6FF;
    /* display: block; would make these inline boxes act like blocks */
}

strong {
    margin: 50px;
    padding: 6px;
}

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px; /* How round are the corners */

    /* The width and height only define the size of a box's content. The padding and border are added on top of whatever explicit dimensions you set. We can change this default behavior with the box-sizing property. The size of the box (including border and padding) is now 200 pixels. This means the content's width is now determined automatically.*/
    box-sizing: border-box;

    width: 400px; /* Normally dimensions are set automatically (in this case it's inherited from browser window). Here we set it so it no longer can be overwritten. Fun fact, not even the content can overwrite this value. It will stack vertically. Can change default stacking behavior with the white-space and overflow properties.*/

    /* There are three methods for horizontally aligning block-level elements: “auto-margins” for center alignment, “floats” for left/right alignment, and “flexbox” for complete control over alignment. */

    /* We will only go over auto here. To center our div elements in the center of the page, use auto in the argument instead of numbers for the horizontal section. This ONLY works on elements which have had an explicit width defined.*/
    margin: 20px auto;
}