h2 {
    color: blueviolet
}

.boxmodel {
    border: 5px solid red;

    /* inside the border */
    padding: 5px 20px 5px 20px; /* top, left, bottom, right */

    /* outside the border*/
    margin: 0px 20px 0px 20px;

    /* make everything appear on the same line */
    display: inline-block;

    /* controls sizing for the content */
    height: 20px;
    width: 20px;
}

p {
    font-size: 20px;
}

/* Make selected elements 3 times as big as it would otherwise be. */
span {
    font-size: 3em; /* equivalent to 60px */
}

/* Make selected elements 2 times as big as the root element. The root element is generally going to be the html element which generally has a size of 16px. */
.ex {
    font-size: 2rem;
}